@import iconos

section.contenido
	header
		background  url('images/Hexagon-3.jpg')
		background-size 100% 100% 
		border-bottom 3px solid esmeralda
		figure.logo
			width 60%
			margin 0 0% 0 20%
			display inline-block
			img
				width 100%
		p.iconoMenu
			font-family Flaticon
			width 30px
			padding 5px
			margin 4% 2% 0 2%
			color blanco
			border 1px solid plata
			border-radius 5px
			text-align center
			font-size 26px
			display inline-block
			float right 
			&:after
				content '\e004'
		div.datos
			width 100%
			padding-bottom 10px
			figure.fotoUser
				width 70px
				height 70px
				margin 1% 1% 0  3%
				border 3px solid blanco
				border-radius 50%
				display inline-block
				img
					width 100%
					border-radius 50%
			div
				vertical-align top
				width 65%
				display inline-block
				margin-top 15px
				h2
					font-size 100%
					font-size 16px
					margin 1% 0
					color blanco
					text-shadow 2px 2px 2px azulObscuro
	section.bienvenida
		h2
			text-align center
			font-family arial
			color azulObscuro
			margin 1% auto 6% auto
			text-shadow 2px 2px 2px plata
		p
			padding 2%
			color gris
			text-align left
		article
			div.bolita
				width 40px
				height 40px
				border-radius 50%
				display inline-block
				vertical-align top
			div.uno
				background verde 
			div.dos
				background-color azulObscuro
			div.tres
				background-color naranjaObscuro
			h3
				margin 0
				font-family Flaticon
				text-align center
				padding-top 8px
				color blanco
				&:after
					margin 0
					font-weight normal
					font-size 22px
				&.coordinador:after
					content '\e007'
				&.maestro:after
					content '\e008'
				&.alumno:after
					content '\e000'
			div.texto
				width 82%
				display inline-block
				h2
					font-size 16px
					text-align left
					margin 1% auto
				p
					font-size 14px
					margin 1% auto