@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-loj0bz");
  src: url("../fonts/icomoon.eot?#iefix-loj0bz") format('embedded-opentype'), url("../fonts/icomoon.woff?-loj0bz") format('woff'), url("../fonts/icomoon.ttf?-loj0bz") format('truetype'), url("../fonts/icomoon.svg?-loj0bz#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
body header {
  border: 2px solid #f00;
  position: relative;
}
body header div.banner {
  margin: 10px auto;
  border: 2px solid #f00;
  width: 40%;
  display: inline-block;
}
body header div.banner figure {
  border: 1px solid #00f;
  width: 82px;
  float: left;
  margin: 0;
}
body header div.banner figure img {
  width: 80px;
  margin: 0;
}
body header div.banner h1 {
  font-size: 26px;
  display: inline-block;
  margin: 15px 4px;
  font-family: 'Roboto';
}
body header div.usuario {
  display: inline-block;
  with: 40%;
  border: 2px solid #f00;
}
body header div.usuario figure {
  display: inline-block;
  width: 40px;
  margin: 0;
}
body header div.usuario figure img {
  width: 35px;
  margin: 0;
}
body header div.usuario p.config {
  margin: 0;
  display: inline-block;
}
body h2 {
  text-align: center;
  font-size: 30px;
  margin: 20px;
  font-family: 'Roboto';
}
body div.contenedor {
  clear: both;
  margin: 6% auto 4% auto;
  width: 95%;
  border: 2px solid #000;
}
body div.contenedor section {
  width: 85%;
  border: 2px solid #008000;
  margin: 2.8% 3.5%;
  display: inline-block;
  padding: 15px 0;
}
body div.contenedor section p {
  text-align: center;
  font-weight: thin;
  margin: 0;
  font-family: 'Roboto';
}
body div.contenedor section div.form {
  padding: 6px;
}
body div.contenedor section div.form fieldset div.input {
  display: inline-block;
  margin: 6px 3px;
  width: 31%;
  padding: 3px;
}
body div.contenedor section div.form fieldset div.input label {
  display: inline-block;
  maring: 2px auto;
}
body div.contenedor section div.form fieldset div.input select {
  float: right;
  width: 195px;
}
body div.contenedor section div.form fieldset div.input input {
  float: right;
}
body div.contenedor section div.form fieldset div.submit {
  width: 16%;
  display: inline-block;
}
body div.contenedor section div.form fieldset div.submit input {
  vertical-align: top;
}
body div.contenedor section:hover {
  cursor: pointer;
}
body footer {
  border: 3px solid #008000;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body footer p {
  text-align: center;
}
