@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

verde=#16a085
esmeralda=#2ecc71
azulClaro=#2980b9
morado=#8e44ad
azulObscuro=#2c3e50
naranja=#f39c12
naranjaObscuro=#d35400
rojo=#e74c3c
plata=#bdc3c7
gris=#7f8c8d
blanco=#fff
