@import iconos

div.contenedor
	background url(images/Hexagon-3.jpg)
	padding 0% 2%
	width 100%
	height 510px
	figure
		margin 0% auto 25% auto
		padding 0
		width 50%
		display block
		img
			width 100%
	input
		margin 1% 5% 8% 0%
		display block
		width 70%
		display inline-block
		border none
		background transparent
		border-radius 5px
		color azulObscuro
		font-weight bold
		vertical-align top
		padding 1%
		border-bottom 4px solid esmeralda
		&:focus
			border-bottom 3px solid blanco
	label
		display inline-block
		font-family Flaticon
		width 8%
		margin 0 1% 0 7%
		font-size 25px
		color azulObscuro
		&[for=userLogin]:after
			content "\e008" 
		&[for=passwordLogin]:after
			content '\e004'
	input[type=submit]
		background esmeralda 
		color blanco
		padding 2%
		display block
		margin 2% auto
div.errores
	color rojo
	width 70%
	display block
	margin 3% auto
	padding 2%
	font-weight bold
	text-align center
	
@media screen and (min-width:479px) and (orientation: landscape) 

	div.contenedor
		figure
			margin-bottom 1%
