div.loginEncabezado {
  background: #2c3e50;
  border-bottom: 3px solid #f39c12;
  box-shadow: 3px 0px 3px #000;
  color: #fff;
  font-family: arial;
  font-size: 24px;
  font-weight: bold;
  padding: 2%;
  text-align: center;
}
div#loginForm {
  background: #fff;
  display: block;
  margin: 3% auto 0% 3%;
  padding: 12px;
  text-align: center;
}
div#loginForm label {
  color: #7f8c8d;
}
div#loginForm input {
  border: 2px solid #26bce0;
  border-radius: 5px;
  display: block;
  display: block;
  margin: 4% auto;
  padding: 2%;
  width: 70%;
}
div#loginForm input[type=submit] {
  background: #2c3e50;
  border: none;
  color: #fff;
  display: block;
  font-weight: bold;
  margin: 15px auto 0px auto;
  padding: 3%;
  width: 32%;
}
h2 {
  text-align: center;
  color: #2c3e50;
  margin: 1% auto;
  display: none;
}
p.textoBienvenida {
  display: none;
}
div.errores {
  background: #e74c3c;
  color: #fff;
  width: 88%;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 1%;
  border-radius: 5px;
  font-weight: bold;
}
