@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"), url("../fonts/flaticon.woff") format("woff"), url("../fonts/flaticon.ttf") format("truetype"), url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
nav {
  background: #2c3e50;
  color: #fff;
  width: 30%;
  position: fixed;
  left: -30%;
  margin: 0 0 0 0px;
}
nav section.menu div {
  border-bottom: 1px solid #bdc3c7;
}
nav section.menu div h2 {
  font-family: Flaticon;
  font-size: 24px;
  font-weight: normal;
  border: none;
  margin: 18% auto;
  display: block;
  text-align: center;
}
nav section.menu div.inicio h2:after {
  content: '\e003';
  color: #bdc3c7;
}
nav section.menu div.coordinador h2:after {
  content: '\e007';
  color: #f39c12;
}
nav section.menu div.maestro h2:after {
  content: '\e008';
  color: #2ecc71;
}
nav section.menu div.alumnos h2:after {
  content: '\e000';
  color: #8e44ad;
}
nav section.menu div.archivos h2:after {
  content: '\e002';
  color: #16a085;
}
nav section.menu div.salir h2:after {
  content: '\e001';
  color: #e74c3c;
}
nav section.menu div.cierreMenu h2:after {
  content: '\e005';
  color: #2980b9;
}
nav section.menu div div.submenu {
  display: none;
}
nav section.menu div div.submenu a {
  text-decoration: none;
  padding: 4%;
  background-color: #16a085;
  border: 5px;
  margin: 1% auto 12% auto;
  width: 100%;
  display: block;
  font-size: 12px;
  color: #fff;
}
nav section.menu div p {
  font-size: 12px;
  margin: 0 0 2% 0;
  text-align: center;
  padding-top: 2%;
}
