@import iconos

nav
	background azulObscuro
	color #fff
	width 30%
	position fixed
	left -30%
	margin 0 0 0 0px
	section.menu
		
		div
			border-bottom 1px solid plata
			h2
				font-family Flaticon
				font-size 24px
				font-weight normal
				border none
				margin 18% auto
				display block
				text-align center
			&.inicio
				h2:after
					content '\e003'
					color plata
			&.coordinador
				h2:after
					content '\e007'
					color naranja
			&.maestro
				h2:after
					content '\e008'
					color esmeralda
			&.alumnos
				h2:after
					content '\e000'
					color morado
			&.archivos
				h2:after
					content '\e002'
					color verde
			&.salir
				h2:after
					content '\e001'
					color rojo
			&.cierreMenu
				h2:after
					content '\e005'
					color azulClaro
			div.submenu
				display none
				a
					text-decoration none
					padding 4%
					background-color verde
					border 5px
					margin 1% auto 12% auto
					width 100%
					display block
					font-size 12px
					color blanco
					
			p
				font-size 12px
				margin 0 0 2% 0
				text-align center
				padding-top 2%
				