@import iconos

section.datosCoordi
	padding 1.5%

	h3
		background azulObscuro
		color blanco
		text-align center
		width 70%
		display block
		margin 1% auto
		padding 1%
		border-radius 10px
	article
		border-bottom 1px solid gris
		h2
			font-size 17px
			text-align center
		figure
			width 90px
			height 90px
			border-radius 50%
			margin 10px 2%
			border 3px solid azulObscuro
			box-shadow 2px 2px 3px  gris
			display inline-block
			vertical-align top
			
			img
				width 100%
				border-radius 50%
		div.textoCoordi
			width 60%
			display inline-block
			p
				margin 1% 1% 4% 1%
				padding 2%
				background esmeralda
				color blanco
				border-radius 5px